<a href="https://colab.research.google.com/github/javidanahmad/javidanahmad/blob/main/Homework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#Q1-Get your name and age as input and print it in the form like
#Your name is Hulisi. Your age is 43
name=input('What is your name? ')
age=input('What is your age? ')
print('Your name is '+name+'.Your age is '+age+'')

What is your name? Javidan
What is your age? 19
Your name is Javidan.Your age is 19

In [5]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54
if(a==b):
  print('These numbers are equal')
else:
  print('These numbers are not equal')

These numbers are not equal

In [63]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=43
b=54
if(a>b):
  print('First number is greater than second number')
elif(a<=b):
  print('First number is equal or less than second number')

First number is equal or less than second number

In [8]:
#Q4- Using for loop, print 1,2,3,4,5
for k in range(1,6):
  print(k)

1
2
3
4
5

In [13]:
#Q5-Using while loop, print 5,4,3,2,1
for k in range(5,0,-1):
  print(k)

5
4
3
2
1

In [58]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.
for i in range(11):
    if (10-i) != 8 and (10-i) %2 == 0:
        print(10-i)

10
6
4
2
0

In [62]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method on orer to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))
def age(birthyear):
    return(2022 - birthyear)

print(age(1944))

78

In [61]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.
class arithmetic:
    def add(a, b):
        print(a + b)

    def subtract(a,b):
        print(a-b)

    def divide(a,b):
        print(a/b)

    def multiply(a,b):
        print(a*b)

arithmetic.add(3,4)
arithmetic.subtract(3,4)
arithmetic.divide(3,4)
arithmetic.multiply(3,4)

7
-1
0.75
12

In [26]:
#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)
n = int(input('Enter number'))
sum = 0
for num in range(1, n + 1, 1):
    sum = sum + num
print('Sum of first',n,'numbers is:',sum)

Enter number4
Sum of first 4 numbers is: 10

In [57]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list. 

lst = []
for i in range(10):
    lst.append(np.random.rand())
lst[:3]

[0.48696036482129335, 0.7586854055305425, 0.6491607748078075]

In [51]:
#Q11-For a given number n, print numbers divisible by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))
n = int(input("Enter number: "))

for i in range(1, n+1):
    if i%3 == 0:
        print(i)

Enter number: 15
3
6
9
12
15